$yellow : #ffE600;
$gray : #EEEEEE;
$white : #fff;
$letterColor : #333333;
$darkGray : #999999;
$font-size : 24px;
$mainFont : Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;