<header class="App-header">
  <div class="container">
    <div class="headerContainer">
      <img src="../../assets/Logo_ML.png" />
      <input type="text" name="search" placeholder="Nunca dejes de buscar" #searchValue />
      <button class="searchButton" (click)="searchResults(searchValue.value)">
        <img src="../../assets/ic_Search.png" />
      </button>
    </div>
  </div>
</header>
